<app-header pageTitle="Workouts"
  [showBackButton]="false"
  [leftTextButton]="editButton"
  [rightIconButton]="addButton"></app-header>

<div class="page-content workouts-content">

  <div class="page-title">
    <h1>Workouts</h1>
  </div>

  <div class="list-wrapper"
    *ngIf="workouts$ | async as workouts">

    <mat-list class="app-list"
      *ngIf="workouts.length else emptyState">
      <mat-list-item class="app-list-item"
        *ngFor="let workout of workouts"
        [@listItem]>
        <div class="body">
          <div class="prefix-icon"
            *ngIf="editMode"
            (click)="deleteWorkout(workout)"
            [@slideInFromLeft]>
            <i class="fa-solid fa-trash-can delete-icon"></i>
          </div>
          <div class="content">
            <h4 class="title">{{workout.name}}</h4>
            <span class="subtitle">{{workout.exercises.length}} exercises</span>
          </div>
          <i class="chevron fa-solid fa-chevron-right"
            *ngIf="!editMode"
            [@slideInFromLeft]></i>
        </div>
      </mat-list-item>
    </mat-list>
  </div>


  <ng-template #emptyState>
    <div class="empty-state">
      <div class="icon">
        <i class="fa-solid fa-dumbbell"></i>
      </div>

      <div class="text">
        <h4>No workouts found. Start creating one now!</h4>
      </div>

      <div class="actions">
        <button mat-raised-button
          color="primary">Add workout</button>
      </div>
    </div>
  </ng-template>
</div>

<div class="add-workout-overlay"
  *ngIf="showAddWorkout"
  [@overlay]>
  <div class="overlay-backdrop"
    (click)="toggleAddWorkout()"
    [@fadeOverlay]></div>
  <div class="overlay-container"
    [@slideInOverlay]>
    <app-add-workout (close)="toggleAddWorkout()"></app-add-workout>
  </div>
</div>