:host {
  padding: 16px 16px;
  width: 100%;
  box-sizing: border-box;
  display: block;

  .header-top {
    width: 100%;
    display: flex;
    align-items: center;
    height: 32px;

    .title,
    .action-buttons {
      flex: 1;
    }

    .title {
      flex: 1;
      text-align: center;

      h4 {
        margin: 0;
      }
    }

    .action-buttons {
      display: flex;

      &.action-buttons-right {
        justify-content: flex-end;
      }

      .text-button,
      .icon-button {
        color: var(--primary-color);
        font-size: 16px;

        &:active {
          color: var(--primary-color-darker);
        }
      }

      .icon-button {
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
